.container {
    width: 75%;
}

.container header {
    background-color: grey;
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

.container footer {
    background-color: cadetblue;
    display: flex;
    margin: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.container div {
    background-color: darkgoldenrod;
    border: thin, solid, black;
}

.container header div {
    height: 3rem;
    align-content: center;
    padding-left: 1em;
    flex-basis: 30%;
    flex-shrink: 0;
}

.container header div:nth-child(1) {
    order: 1;
}

.container header div:nth-child(2) {
    order: 1;
}

.container header div:nth-child(3) {
    flex-grow: 1;
}

.container header div:nth-child(4) {
    flex-grow: 2;
}

.container footer div {
    height: 10rem;
    width: 20%;
}

.container footer div:nth-child(1) {
    flex-grow: 10;
}

.container footer div:nth-child(2) {
    flex-grow: 1;
}

.container footer div:nth-child(3) {
    flex-grow: 10;
}