div {
    box-sizing: border-box;
}

.row {
    border: 10px solid black;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    display: grid;
    /* El grid se puede aplicar directamente en la media query, pero así el grid-gap es igual en todas las resoluciones */
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-content: center;
    /* Para resoluciones pequeñas en las que el contenido desborda el tamaño del contenedor */
}

.element {
    border: 10px solid green;
    padding: 0.5em;
}

.image {
    border: 10px solid blue;
    padding: 0.5em;
    margin: 0.5em;
}

.text {
    border: 10px solid red;
    padding: 0.5em;
    margin: 0.5em;
}

@media (min-width:768px) {
    div.row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px) {
    div.row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1200px) {
    div.row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}